@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Share+Tech+Mono&display=swap');

* {
	font-family: "Playwrite BE VLG", cursive;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f7dc6f;
}

p {
	padding: 20px;
	margin: 20px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.box {
	padding: 10px;
	margin: 5px;
	width: 60px;
	height: 60px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.5s;
}

.emoji {
	transition: opacity 0.5s;
}

.box.closed .emoji {
	opacity: 0;
}

.box.open .emoji {
	opacity: 1;
}

.box.matched .emoji {
	opacity: 1;
}

.box.matched {
/*	background-color: #1abc9c;*/
	background-color: black;
	cursor: default;
}

.gameBoard {
/*	width: 500px;*/
	display: grid;
/*	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
	grid-template-columns: 1fr 1fr 1fr 1fr;
}